!!! 5
html(lang='en')
  head
    title BUGswarm History
    link(rel='stylesheet', href='bootstrap/bootstrap.css')
    script(src='http://code.jquery.com/jquery-1.5.2.js')
    script(src='http://cdn.buglabs.net/swarm/test/swarm-v0.3.1.js')
    script(src='js/history.js', type='text/javascript')

  body()

    // CONTENT
    .container

      #header
        // Header
        h1 Message Log:
                   
      ul#messages
        
